@import 'tailwindcss';

:root {
  --text-color: #fff;
  --bg-color: #23272f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--bg-color);
    --bg-color: var(--text-color);
  }
}
